/* ALL OPTIONS

GENERAL 

background-color
color: CHANGES WITH EVERY PAGE
border
padding
margin
align-items
text-align
justify-content
scroll-margin

TYPOGRAPHY

font-size -family -weight -size
text-transform: lowercase

body {
}

*/
*{
	box-sizing: border-box;
}
body {
	font-size: 14px;
	font-family: Georgia;
	line-height: 28px;
	color: #525252;
}
#work-name{
	font-style: italic;
	margin-top: 10px;
}
#work-date{
	margin-bottom: 10px;
}


a {
	text-decoration: none;
}
p {
	margin: 0%;
	padding-left: 13%;
	padding-right: 13%;
}

#welcome:hover {background-color: #f3ba70;}
#graphic_works:hover {background-color: #3d91c8;}
#commissions:hover {background-color: #63a065;}
#publications:hover {background-color: #e575ae;}
#about:hover {background-color: #46769a;}


.navbar-container a {
	font-family: Georgia;
	margin-top: 15%;
	overflow: visible;
 	position: fixed; 
 	width: 100%;
	line-height: 2em;
 	padding-left: 5%;
 	/* each page: add text color */
 }

.navbar-container a:hover {
	color: #ffffff;
	/* each page: add background color */
}

.welcome {
	padding:10%;
	padding-top:0px;
	padding-bottom:0px;

}

/* ------------------------- CONTENT ---------------*/

.my-name {
	font-size: 36px;
	text-align: center;
	position: relative;
	margin: 0%;
}

.content-container {
	background-color: #ffffff;
	border-width: 1px;
	border-style: solid;
	width: 85%;
	margin: auto;
	position: relative;
	padding: 8%;

	/* each page: add outline color */
}
.footer-container {
	background-color: #ffffff;
	width: 85%;
	margin: auto;
	position: relative;
	padding: 8%;
	text-align: center;
	font-style: italic;
}

.section-title {
	font-style: italic;
	text-align: center;
	font-size: 24px;
	margin-bottom: 5%;
}

.separator {
	text-align: center;
	margin: 40px 0px 40px 0px;
}

.img-container {
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
	position: relative;
  	margin: auto;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 98vh;
  	object-fit: contain;
}

/* ------------------------- EXPERIENCE - RESUME */

#employer {
	font-weight: bold;
}

#position {
	opacity: 80%;
	font-style: italic;
}

#location {
	opacity: 80%;
}

.resume {
	padding:10%;
	padding-top:0px;
	padding-bottom:3%;
}

.section-subtitle {
	font-style: normal;
	text-align: center;
	font-size: 20px;
}

/*  ------------------------- NEW GALLERY */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  align-content: center;
}

/* Hide the images by default */
.mySlides, .mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6 {
	display: none
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #525252;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  font-size: 12px;
  text-align: center;
  margin: auto;
  padding: 8px 12px;
  position: relative;
}

.video {
	max-width: 100%;
  position: relative;
  margin: auto;
  align-content: center;
}

/* The dots/bullets/indicators 
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}
*/

/* Fading animation 
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}*/
